<div ng-cloak id="tnc" class="tnc popup">
  <div class="bg" ng-click="$root.setting.showTNC=false"></div>
  <div class="tncContentBox">
    <div class="title">adidas香港銅鑼灣旗艦店開幕活動 - 活動條款及細則</div>
    <div class="scroll">    	
	    <ul>
	      <li>是次活動由 adidas Hong Kong Limited (簡稱 "adidas"或 "本公司") 主辦。</li>
	      <li>活動日期為 2016年4月27日中午12時至5月2日上午11時59分(「活動期」)，活動期外的所有提交均視作無效。</li>
	      <li>參加者必須年滿18歲及持有有效之香港身份證。</li>
	      <li>參加者必須透過活動網頁以個人Facebook帳號登記，並按指示參加活動，方能得獎：<br />
				<strong>Step 1</strong> – 填寫個人資料並提交<br />
				<strong>Step 2</strong> – 按指示完成訓練任務<br />
				<strong>Step 3</strong> – 查看提交次序及相應獎品<br />
				<strong>Step 4</strong> – 查收確認電郵了解獎品詳情
			</ol>
	      </li>
	      <li>本活動於活動期間以每日先到先得的形式進行，並將每日中午12時始至次日早上11時59分止，按參加者的參與次序，每日送出以下獎賞：
			<ol>
				<li><strong>大獎 (每日1份，共計5份) – HK$2,000 adidas購物禮券一張</strong><br />每日第5,216名參加者將獲贈HK$2,000 adidas購物禮券一張，禮券的使用須受有關條款及細則所約束。</li>
				<li><strong>二獎 (每日2份，共計10份) – 指定adidas Climachill Sonic Bounce 運動鞋一對 (價值HK$799)</strong><br />每日第2,500名及第5,000名參加者可贏取指定adidas Climachill Sonic Bounce 運動鞋(S78236 / S78253)一對 (價值HK$799)</li>
				<li><strong>三獎 (每日4份，共計20份) – 指定adidas Climachill Training Tee 一件 (價值HK$339)</strong><br />每日第500名、第1,500名、第3,500名及第4,500名參加者可贏取指定adidas Climachill Training Tee (S94517 / AX8761)一件 (價值HK$339)</li>
				<li><strong>8折購物優惠券</strong><br />未能贏取大獎、二獎或三獎的參加者均可獲得adidas香港銅鑼灣旗艦店8折購物優惠券 (有效日期：2016年5月2日至5月4日)，優惠券的使用須受有關條款及細則所約束。</li>
			</ol>
	      </li>
	      <li>每位合符資格的參加者只限贏取大獎1次。大獎得獎者將不可在活動期間重複參加。二獎或三獎的得獎者不可於獲獎當天重複參加此活動。未能贏取大獎、二獎或三獎的參加者於活動期間每日最多可參加此活動6次。</li>
	      <li>參加者必須保證提供的所有登記資料均絕對真實、準確及完整。</li>
	      <li>確認得獎通知將即時以電郵方式送出，得獎者可參閱得知關於領取獎品詳情及有關事宜。</li>
	      <li>參加者須保證所有填寫資料均正確屬實，如有不實資料或虛假帳戶，adidas有權取消參加者的資格而無須事先通知。</li>
	      <li>所有禮品不能兌換現金、更換、退還、轉讓及退回。所有禮品一經換領，若有遺失或被竊，adidas將不會發出補償。</li>
	      <li>參加者必須遵守adidas所訂立的規則、條款及細則及其他有關之規定，並保證所有提供之資料均為正確及屬實，且未冒認任何第三者之資料，如有違規者，adidas有權取消其參加及換領資格。</li>
	      <li>所收集之個人資料僅用於adidas之推廣活動，但我們在未得到閣下的同意之前不能如此使用閣下的個人資料。請瀏覽我們的網頁閱讀我們本地之私隱政策及收集個人資料聲明之全部條文，適用於我們使用閣下個人的資料情況。如果閣下以個人Facebook帳號登記成為會員，則代表閣下已同意該政策及聲明。</li>
	      <li>參加者須同意Facebook 的完全免責權。本活動與Facebook 無關 ，並非由Facebook 贊助 、支持或管理。</li>
	      <li>建議使用最新版本的IE、Firefox、Safari 及 Google Chrome 瀏覽器達至最佳瀏覽效果。</li>
	      <li>adidas俱毋須承受以下責任(i) 任何不準確或不正確的參加資料，或因電子器材故障而造成之資料遺失； (ii) 從被許可途徑取得參加表格，或因偷竊、損壞參加表格及活動途中對參加表格內容之修改。(iii) 任何技術故障、失誤、錯誤、失靈、延誤或通訊設備失靈、系統故障、電腦、伺服器、網絡、連線、衛星、或數據服務供應商之失靈； (iv) 不能登入或未能接駁互聯網；或 (v) 任何參加者因參加活動或意圖參加活動而構成個人或財物損失。</li>
	      <li>所有與活動有關之結果均以adidas伺服器所顯示時間及所收獲之數據紀錄為準。</li>
	      <li>如有任何原因 (包括但不限於電腦、網路、電話、技術)而令參加者所送出、登記之資料或令本公司寄出之通知有遲延、遺失、錯誤、或毀損等情況，adidas不會負上任何法律責任，參加者也不得異議。</li>
	      <li>參加者參與此活動即被視為明白並願意遵守所有條款及細則。</li>
	      <li>adidas有權隨時修改任何活動條款及細則，而毋須事先通知。</li>
	      <li>如有任何爭議，adidas保留最終決定權。</li>
	    </ul>
    </div>
    <a class="btn-close" ng-click="$root.setting.showTNC=false" href=""></a>
  </div>
</div>